
<div class="wrapper">
  <div class="topicos">
  
<div class="container">
      <div class="row">
        <div class="col-3">
          <ul class="topicos-footer">
            <h3>O que somos?</h3>
            <h6>O balbúrdia é uma rede social para 
              pesquisadores divulgarem suas pesquisa
              de forma clara e objetiva. 
              O foco é mostrar para a sociedade em 
              geral o que é produzido nas universidades. 
            </h6>
          
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
              <h3>Como é feito?</h3>
              <h6>As pesquisas são divulgadas através
                de pequenos videos produzidos pelo autor 
                da pesquisa. Para complementar a publicação,
                o pesquisador pode postar fotos e um pequeno 
                resumo da pesquisa realizada.
              
              </h6>
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
              <h3>Desenvolvedores</h3>
              <h6>Ariel Luane</h6>
              <h6>Gustavo Martins</h6>
              <h6>Henrique Wildes</h6>
              <h6>Rodrigo Otavio</h6>
              <h6>Tiago Santos</h6>
          </ul>
        </div>
      </div>
    </div> 
  </div> 
  
  <footer class="rodape">
    <p class="text-center">&copy; Todos os Direitos reservados a
      <b>Balburdia</b>
    </p>
  </footer>
</div>


